openpyxl
streamlit
seaborn
plotly
scikit-learn
xgboost
matplotlib
streamlit
pandas
plotly
autogluon.timeseries
numpy
prophet
scikit-learn
matplotlib
streamlit
pandas
plotly
autogluon.timeseries
numpy==1.26.0
prophet
scikit-learn
seaborn
scipy==1.11.3